# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

temp/

# Misc files
.DS_Store
benchmark/GIABTR_benchmark.4.20/
benchmark/GIABTR_benchmark.6.26/.GIABTR.HG002.benchmark.regions.bed.gz.swp
benchmark/GIABTR_benchmark.6.26/GIABTR.HG002.benchmark.regions.bed.gz
benchmark/GIABTR_benchmark.6.26/GIABTR.HG002.benchmark.trfanno.vcf.gz
benchmark/GIABTR_benchmark.6.26/GIABTR.HG002.benchmark.trfanno.vcf.gz.tbi
benchmark/GIABTR_benchmark.6.26/GIABTR.HG002.benchmark.vcf.gz
benchmark/GIABTR_benchmark.6.26/GIABTR.HG002.benchmark.vcf.gz.tbi
benchmark/GIABTR_benchmark.6.26/adotto_TRv1.1_4mers.map
benchmark/GIABTR_benchmark.6.26/adotto_TRv1.1_4mers.som
benchmark/GIABTR_benchmark.6.26/edge_check/
benchmark/GIABTR_benchmark.6.26/h1.fa
benchmark/GIABTR_benchmark_v1.0.tgz
benchmark/GIABTR_benchmark_v1.0/
manuscript/.DS_Store
manuscript/bench_varcnt/.gitignore
manuscript/creating_numbers/.gitignore
manuscript/diving/haps.jl
manuscript/diving/refhaps.fa
manuscript/result_pathomotifcompare/hold.txt
manuscript/review_benchmarks/.gitignore
manuscript/review_benchmarks/.paths_gd.txt.swp
manuscript/review_benchmarks/Finished_v1_bench_regions.bed
manuscript/review_benchmarks/Finished_v1_bench_regions_round_entropy.bed
manuscript/review_benchmarks/For_v1_bench_regions.bed
manuscript/review_benchmarks/ReadLengthAnalysis-Copy1.ipynb
manuscript/review_benchmarks/ReadLengthAnalysis-Copy2.ipynb
manuscript/review_benchmarks/Untitled.ipynb
manuscript/review_benchmarks/paths_gd.txt
manuscript/review_benchmarks/paths_hd.txt
manuscript/synthetic_trs/.gitignore
pathogenic/acan.bed
pathogenic/delme.txt
pathogenic/muk.bed
pathogenic/newp.bed
pathogenic/tmp.bed
pathogenic/toextract.bed
pathogenic/x.bed
regions/adotto_TRregions_v1.1.bed.gz
regions/adotto_TRregions_v1.2.bed
regions/adotto_TRregions_v1.2.bed.gz
regions/inter.bed
