baylor/grch38.simpleRepeat.truvari.bed.gz
baylor/grch38.simpleRepeat.truvari.bed.gz.tbi
baylor/merged.bed.gz
baylor/merged.bed.gz.tbi
giab/ftp-trace.ncbi.nlm.nih.gov/
giab/merged.bed.gz
giab/merged.bed.gz.tbi
merged.bed.gz
merged.bed.gz.tbi
merged.slop25.bed.gz
merged.slop25.bed.gz.tbi
pacbio/merged.bed.gz
pacbio/merged.bed
pacbio/merged.bed.gz.tbi
pacbio/repeat_catalog.hg38.bed.gz
ucsd1/README.txt
ucsd1/ensembleTR_loci_list.txt
ucsd1/merged.bed.gz
ucsd1/merged.bed.gz.tbi
ucsd2/GIAB_adVNTR_short_VNTR_regions.bed
ucsd2/merged.bed
ucsd2/merged.bed.gz
ucsd2/merged.bed.gz.tbi
