GRCh38.variants.sqoff.vcf.gz
GRCh38.variants.sqoff.vcf.gz.tbi
adotto_variants.grch38.sqoff.bcf.gz
adotto_variants.grch38.sqoff.bcf.gz.csi
anno_parts/
annotated.variants.vcf.gz
annotated.variants.vcf.gz.tbi
