inputs/merged.vcf.gz
inputs/merged.vcf.gz.tbi
inputs/GRCh38.variants.sqoff.vcf.gz
inputs/HG002_comp.vcf.gz
inputs/HG002_comp.vcf.gz.tbi
inputs/NA24385_comp.vcf.gz
inputs/NA24385_comp.vcf.gz.tbi
inputs/li:NA24385_comp.vcf.gz
inputs/li:NA24385_comp.vcf.gz.tbi
results/rtg_cmrg_eichler/
results/rtg_cmrg_hprc/
results/rtg_cmrg_li/
results/rtg_thfa_eichler/
results/rtg_thfa_hprc/
results/rtg_thfa_li/
results/thfa_fn_investigation/
results/truvari_cmrg_eichler/
results/truvari_cmrg_hprc/
results/truvari_cmrg_li/
results/truvari_thfa_eichler/
results/truvari_thfa_hprc/
results/truvari_thfa_li/
truthsets/
old_results/
results/
